<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Player</key>
	<array>
		<dict>
			<key>score</key>
			<integer>4</integer>
			<key>name</key>
			<string>harry</string>
		</dict>
		<dict>
			<key>score</key>
			<integer>5</integer>
			<key>name</key>
			<string>jay</string>
		</dict>
		<dict>
			<key>score</key>
			<integer>10</integer>
			<key>name</key>
			<string>samir</string>
		</dict>
	</array>
</dict>
</plist>
